seaborn
scikit_image
tqdm
matplotlib
ipykernel
opencv_contrib_python
h5py
pydicom
Flask
ipywidgets
numpy
scipy
pandas
ipython
Pillow
bcolz
cupy
flask_restful
graphviz
isoweek
pandas_summary
pixiedust
pretrainedmodels
skimage
scikit_learn
sklearn_pandas
spacy
torch
torchtext
torchvision
