<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
		<h1 class="display-1 text-primary font-weight-bold text-center">Chest X-ray CAD</h1>
		<form action='/upload' method='POST' enctype='multipart/form-data'>
			<input type='file' name='<%= cxr_field %>' >
			<button type='submit' class='btn btn-primary'>Upload</button>
		</form>
  </body>
</html>
